<footer class="site-footer">
	<div class="inner">
		{{ partial "social" . }}

		<section class="copyright">&copy; {{now.Format "2006"}} <a href="{{ .Site.BaseURL }}">{{ .Site.Params.name }}</a>. {{ .Site.Params.copyright | markdownify }}</section>
	</div>
</footer>

<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<script async type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			displayMath: [['$$','$$'], ['\[','\]']],
			processEscapes: true,
			processEnvironments: true,
			skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
			TeX: { equationNumbers: { autoNumber: "AMS" },
					 extensions: ["AMSmath.js", "AMSsymbols.js"] }
		}
	});
</script>
